.skillButton {
	border: 1px solid black;
	background-color: #fff;
	color: green;
	cursor: pointer;
	padding: 5px;
	display: table;
	width: 100%;
}

.activeSkillButton {
	border: 1px solid black;
	background-color: green;
	color: white;
	cursor: pointer;
	padding: 5px;
	display: table;
	width: 100%;
}

.textAreaInstructions {
	font-weight: bold;
	padding: 30px;
}

.skillnodesdiv {
	border: 1px solid red;
	padding: 5px;
	position: fixed;
	left: 500px;
	top: 20px;
}

.pointError {
	background-color: #f00;
}

.skillPointTable tr:nth-child(even) {
	background: #ebebeb;
}

.pointInput {
	width: 25px;
}

.nonMaxedPoints {
	background: #ff0;
}

.maxAllPointsBTN {
	margin-left: auto;
	margin-right: 0;
	display: block;
}

.highlight-copy-btn {
	/* position: absolute; */
	padding: 1em;
	bottom: 7px;
	right: 7px;
	border: 0;
	border-radius: 4px;
	/* font-size: .7em; */
	line-height: 1.8;
	color: #fff;
	background-color: #777;
	min-width: 55px;
	text-align: center;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
	/* WebKit */
	-webkit-appearance: button !important;
	/* Mozilla */
	-moz-appearance: button;
	/* Opera */
	-o-appearance: button;
	/* Internet Explorer */
	-ms-appearance: button;
	/* CSS3 */
	appearance: button;
	width: 350px;
	padding: 1em;
	color: #f00;
}

button,
select {
	text-transform: none;
}

a,
button,
select {
	cursor: pointer;
	transition: .2s ease;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
	cursor: pointer;
}

.highlight-copy-btn:hover {
	background-color: #666;
}

button,
input {
	overflow: visible;
}

.charTextArea {
	align-items: center;
	appearance: none;
	background-color: rgb(255, 255, 255);
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	box-shadow: none;
	box-sizing: border-box;
	color: rgb(102, 102, 102);
	font-family: Roboto Mono, Consolas, Courier New, monospace;
	font-size: 14.4px;
	font-weight: 300;
	height: 316px;
	justify-content: flex-start;
	line-height: 20.8833px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	max-width: 100%;
	min-height: 316px;
	overflow-y: scroll;
	padding-bottom: 11px;
	padding-left: 11px;
	padding-right: 11px;
	padding-top: 11px;
	position: relative;
	resize: vertical;
	text-align: start;
	text-rendering: optimizelegibility;
	text-shadow: rgb(102, 102, 102) 0.216px 0.216px 0px;
	vertical-align: top;
	width: 805px;
	display: flex;
	border: 2px solid #0060df;
}

#copyButton_div {
	margin-top: 10px;
	text-align: center;
}

.largeFontSize {
	font-size: large;
}

.smallMaxBtn {
	width: auto !important;
	padding: initial !important;
	color: initial !important;
	transition: none !important;
}

.passiveMasteryHeader {
	text-align: center;
	border: 1px solid;
	padding: 3px;
	background-color: #faebd7;
}

.passivesDiv {
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
	grid-column-gap: 15px;
	align-items: start;
	top: 80px;
	position: absolute;
	overflow-y: auto;
	height: 100%;
}

.seperatorTD {
	width: 3px;
	background-color: #9b9b9b;
}

.icons {
	background-image: url('assets/image_matrix.webp');
}

.icons-rogue-0 {
	background-position: -387px -129px;
	width: 128px;
	height: 128px;
}

.class-icon {
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.fileLocationDiv {
	padding: 10px 10px 20px 10px;
	font-size: smaller;
}

.tippydiv {
	position: fixed;
	z-index: 10;
	background-color: rgb(0, 0, 0);
	padding: 10px;
	font-size: large;
	max-width: 700px;
	overflow-y: auto;
	width: max-content;
}

.skillIcon {
	transform: scale(.75);
	display: table-cell;
	vertical-align: middle;
}

.skillNodeIcon {
	transform: scale(.6);
	display: table-cell;
	vertical-align: middle;
}

.skillName {
	display: table-cell;
	vertical-align: middle;
}

.skillsTitleDiv {
	text-align: center;
	font-size: 20px;
	padding: 10px;
	color: #016101;
	font-weight: bold;
}

body {
	background: #1c1d1f;
	background-image: url("assets/background.webp");
	background-repeat: repeat;
	background-size: contain;
}

div {
	background-color: #0d0d0d;
	color: #a88054;
}

td {
	background-color: #1f2123;
	color: #a88054;
}